@tailwind base;
@tailwind components;
@tailwind utilities;

/* Smooth fonts & nicer scroll */
html { -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; scroll-behavior: smooth; }
